{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block stylesheet %}
{% endblock %}


{% block baniere %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8 bg-light">
        <h3>Mon panier</h3>
        <div class="col-md-8">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">image</th>
                    <th scope="col">produit</th>
                    <th scope="col">prix</th>
                    <th scope="col">qts</th>
                    <th scope="col">total</th>
                  </tr>
                </thead>
                <tbody>

                  {% for plat in panier %}
                  <tr>
                    <td><img src="{{ asset('asset/uploads/images/plat/' ~ plat.object.image) }}" alt="{{plat.object.libelle}} " style="max-width: 50px; height: 50px; object-fit: cover;" class="img-fluid rounded-circle"></td>
                    <td>{{plat.object.libelle}}</td>
                    <td>{{plat.object.prix|price}}</td>
                    <td>{{plat.qty}}</td>
                    <td>{{(plat.object.prix * plat.qty)|price}}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
        </div>
    </div>
</div>


{% block video %}{% endblock %}
{% endblock %}
