{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block stylesheet %}
{% endblock %}


{% block baniere %}
{% endblock %}

{% block body %}



<div class="row bg-light m-3 p-2">
  <h3>Mon panier</h3>

  <div class="col-md-10">
    {% for plat in panier %}
      <div class="row mt-2">
          <div class="col-md-2">
            <img src="{{ asset('asset/uploads/images/plat/' ~ plat.object.image) }}" alt="{{plat.object.libelle}} " style="max-width: 50px; height: 50px; object-fit: cover;" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-4">
            <strong>{{plat.object.libelle}}</strong>
            <span class="d-block small">Prix unitaire {{plat.object.prix|price}}</span>
          </div>
          <div class="col-md-3 text-right">
            <a href="{{ path('app_cart_less', {id: plat.object.id})}}" class="btn btn-secondary btn-sm">-</a><span>
              x {{plat.qty}}
            </span><a href="{{ path('app_cart_add', {id : plat.object.id}) }}" class="btn btn-secondary btn-sm">+</a>
          </div>
          <div class="col-md-2">
            <strong>{{(plat.object.getPriceWt() * plat.qty)|price}}</strong>
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-2">
    <div class="bg-light p-3">
       <div class="d-flex justify-content-between">
            <span class="fw-bold">Total produit :</span>
            <span>{{ fullPanierQuantity }}</span>
       </div> 
       <div class="d-flex justify-content-between mt-3">
            <span class="fw-bold">Prix total TTC:</span>
            <span>{{ totalWt | price }}</span>
       </div> 
       <div class="d-flex justify-content-between mt-3">
        <a href="#" class="btn btn-success w-100 mt-2">Commander</a>
       </div> 
    </div>
    
     

</div></div>


{% block video %}{% endblock %}
{% endblock %}
