{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block baniere %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light">
        <div class="row p-2">
            <div class="col-md-4">
                <h3>Mon compte</h3>
                <ul class="list-group">
                    <li class="list-group-item" ><a href="#">Mes commandes</a></li>
                    <li class="list-group-item" ><a href="{{ path('app_account_modify_pwd')}}">Changer mon mot de passe</a></li>
                    <li class="list-group-item" ><a href="{{ path('app_logout')}}">Me deconnecter</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Mes commandes</h3>
                <div class="col-md-8">
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">image</th>
                          <th scope="col">produit</th>
                          <th scope="col">prix</th>
                          <th scope="col">qts</th>
                          <th scope="col">total</th>
                        </tr>
                      </thead>
                      <tbody>
      
                        {% for plat in panier %}
                        <tr>
                          <td><img src="{{ asset('asset/uploads/images/plat/' ~ plat.object.image) }}" alt="{{plat.object.libelle}} " style="max-width: 50px; height: 50px; object-fit: cover;" class="img-fluid rounded-circle"></td>
                          <td>{{plat.object.libelle}}</td>
                          <td>{{plat.object.prix|price}}</td>
                          <td>{{plat.qty}}</td>
                          <td>{{(plat.object.prix * plat.qty)|price}}</td>
                        </tr>
                        {% endfor %}
      
                      </tbody>
                    </table>
                  </div>
        </div>
    </div>
{% endblock %}
