<!-- BANNIERE -->
<div class="container-items position-relative d-flex justify-content-center align-items-center">
    <img class="card-img position-relative" src="{{ asset('asset/img/bg3.jpeg')}}" alt="photo de légumes savoureux">    
    <div class="text-banniere position-absolute">
        <h5 class="card-title text-white">{{name}}</h5>

        <!-- Condition affichage search -->

        <!-- formulaire recherche -->
        {% if barRecherche is defined %}
            {{ form_start(barRecherche) }}                        
                <div class="container mt-5">
                    <div class="input-group">
                    {{ form_row(barRecherche.query) }}
                    
                        <div class="input-group-append">
                            {{ form_row(barRecherche.submit) }}
                        </div>
                    </div>
                </div>
            {{ form_end(barRecherche) }}
        {% endif %}

    </div>
    </div>
    