<!-- BANNIERE -->
<div class="container-items position-relative d-flex justify-content-center align-items-center">
    <img class="card-img position-relative" src="{{ asset('asset/img/banniere_1920.jpg')}}" alt="jeune femme dégustant son repas au restaurant le district">    
    <div class="text-banniere position-absolute">
        <h5 class="card-title text-white">Restaurant le district</h5>
        <p class="card-text text-white">“Bien manger, un plaisir à partager ”</p>

        <!-- search -->

        <!-- Condition affichage search -->

        <!-- formulaire recherche -->
        {{ form_start(barRecherche) }}                        
            <div class="container mt-5">
                <div class="input-group">
                {{ form_row(barRecherche.query) }}
                
                    <div class="input-group-append">
                        {{ form_row(barRecherche.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(barRecherche) }}


</div>
