{% extends 'base.html.twig' %}
{% block title %}Commander{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
{% endblock %}


{% block baniere %}
{% endblock %}

{% block body %}



<div class="container my-2 bg-light p-2">
  <h3>Ma commande</h3>

   {{ form_start(adresseForm) }}
    {{ form_row(adresseForm.adresses)}}
    <a href="{{ path('app_account_adresse_form')}}" class="small">Ajouter une nouvelle adresse de livraison</a>
    <hr>
    {{ form_row(adresseForm.transporteur)}}
   {{ form_end(adresseForm) }}


</div>
    


{% block video %}{% endblock %}
{% endblock %}
