{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block baniere %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light p-3 vh-100">
        <div class="row p-2">
            <div class="col-md-4">
                {% include "account/_menu.html.twig" %}
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-between">
                    <h5>Mes adresses</h5>
                    <a href=" {{ path('app_account_adresse_form')}}" class="btn btn-secondary ">Ajouter une adresse</a>
                </div>
                {% if app.user.adresses|length == 0 %}
                    <p>Vous n 'avez pas encore enregistrer d' adresse</p>
                {% else %}
                <div class="row">
                    {% for adresse in app.user.adresses %}
                        <div class="col-md-4 mt-2">
                            <div class="bg-light p-2 text-center">
                                <strong>{{adresse.prenom}} {{adresse.nom}}</strong> <br>

                                {{adresse.adresse}} <br>

                                {{adresse.postal}} - {{adresse.ville}} <br>

                                {{adresse.pays}} <br>

                                <div class="d-flex justify-content-between">
                                    <a href="{{ path('app_account_adresse_form', { id : adresse.id})}} " class="small text-secondary"><i class="bi bi-pen"></i></a>
                                    <a href="{{ path('app_account_adresse_delete', { id : adresse.id})}} " class="small text-secondary"><i class="bi bi-trash3-fill"></i></a>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
