{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('asset/css/plat.css')}}">
{% endblock %}


{% block baniere %}
{% include 'partials/_banniereV2.html.twig' with {'name' : 'Plats'} %}
{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid p-4">
        <div class="row align-items-center justify-content-center container-plat">
            {% for key, plat in plats %}

                <!-- PLAT -->
                <div class="col-9 col-md-6 col-lg-3" data-key="{{plat.libelle}}">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{{ asset('asset/uploads/images/plat/' ~ plat.image) }}" class="img-fluid rounded-start" alt="{{plat.libelle}}">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between align-self-end">
                            <p class="card-text"><small class="text-body-secondary">{{plat.prix|price}}</small></p>
                            <a href="{{ path('app_cart_add', { id : plat.id }  )}}" class="btn small border-warning text-dark">add <i class="bi bi-plus"></i></a>
                        </div>
                        <h5 class="card-title fs-6">{{plat.libelle}}</h5>
                        <p class="card-text">{{plat.description|raw}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>
    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if previous >= 0 %}
                <li class="page-item"><a class="page-link" href="{{ path('app_plats', { offset: previous }) }}"><i class="bi bi-arrow-left text-warning"></i></a></li>
                {% endif %}
                {% if next < plats|length %}
                <li class="page-item"><a class="page-link" href="{{ path('app_plats', { offset: next }) }}"><i class="bi bi-arrow-right text-warning"></i></a></li>
                {% endif %}
            </ul>
          </nav>
    </div>



    {% block video %}{% endblock %}
{% endblock %}
